<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b9d44b0d-3daf-4dab-a0be-a9b9e9354780/resourcegroups/GameMasterPlannerRG/providers/Microsoft.Web/sites/GameMasterPlanner20170409075532</ResourceId>
    <ResourceGroup>GameMasterPlannerRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://GameMasterPlanner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>GameMasterPlanner.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GameMasterPlanner</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GameMasterPlanner</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GameMasterPlannerDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gmplanner.database.windows.net,1433;Initial Catalog=gm_planner_db;Persist Security Info=False;User ID=twistedpurpose;Password=o6njl2xZ6xjLD8;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:gmplanner.database.windows.net,1433;Initial Catalog=gm_planner_db;Persist Security Info=False;User ID=twistedpurpose;Password=o6njl2xZ6xjLD8;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.EntityFramework.GameMasterPlannerDBEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GameMasterPlannerDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:gmplanner.database.windows.net,1433;Initial Catalog=gm_planner_db;Persist Security Info=False;User ID=twistedpurpose;Password=o6njl2xZ6xjLD8;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GameMasterPlannerDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:gmplanner.database.windows.net,1433;Initial Catalog=gm_planner_db;Persist Security Info=False;User ID=twistedpurpose;Password=o6njl2xZ6xjLD8;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>