
@{
    ViewBag.Title = "Hub";
}

<div class="container-fluid" style="margin-top: 20px;">

    <div class="row">
        <div class="col-md-12">
            <span>Title</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input data-bind="textInput:CurrentSession().Title" style="width:100%"></input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span>Notes</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <textarea data-bind="textInput:CurrentSession().Notes" class="notes-text-edit" rows="12"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 map">
            <div class="google-map-canvas" id="map">
            </div>
        </div>

        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default">Upload Map</button>

                    <button class="btn btn-default">Set Root Map</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default" data-bind="click:createCharacter">Add Character</button>
                    <div class="row "data-bind="foreach:CharacterList">
                        <div class="row"><span data-bind="text:Name"></span></div>
                        
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default">Add An Item</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCharacterModal" data-bind="modal: showAddCharacterModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Add A Character</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-bind="with: addCharacterVM">
                <div>Name</div>
                <input data-bind="textInput:Name"/>
                <div>Description</div>
                <textarea data-bind="textInput:CharDescription"></textarea>
                <div>Notes</div>
                <textarea data-bind="textInput:Notes"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:saveCharacter" >Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    var campaignId = @ViewBag.CampaignId;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBLS0MX9AwHUlg0Zkvodyp3sjDPdrrB9c"></script>
@Scripts.Render("~/bundles/character")
@Scripts.Render("~/bundles/hub")