
@{
    ViewBag.Title = "Hub";
}

<div class="container-fluid" style="margin-top: 20px;">

    <div class="row">
        <div class="col-md-12">
            <span>Title</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input data-bind="textInput:CurrentSession().Title" style="width:100%"></input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span>Notes</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <textarea data-bind="text:CurrentSession().Notes" class="notes-text-edit" rows="12"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 map">
            <div class="google-map-canvas" id="map">
            </div>
        </div>

        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default">Upload Map</button>

                    <button class="btn btn-default">Set Root Map</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default">Add Character</button>
                    <div class="row "data-bind="foreach:CharacterList">
                        <li data-bind="text:Name"></li>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-default">Add An Item</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var campaignId = @ViewBag.CampaignId;

    @*$.getJSON(baseURL + 'api/Session?id=' + @ViewBag.CampaignId, function (data) {

    });*@
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBLS0MX9AwHUlg0Zkvodyp3sjDPdrrB9c"></script>
@Scripts.Render("~/bundles/hub")

