body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 16px;
}

.planner-modal textarea {
    width: 100%;
    resize: none;
    height: 4em;
}

.planner-modal-input-value {
    width: 100%;
}

/*.modal-check-box-list {
    width: 100%;
}*/

.hub-button-bar {
    margin-bottom: 20px; 
    margin-top:20px;
}

.hub-button-bar button {
    width:100%;
}
