<div class="modal fade planner-modal" id="existingItemModal" data-bind="modal: existingItemsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Remove Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-bind="with: existingItemsVM">
                <div data-bind="foreach:CompleteItemList">
                    <div class="checkbox">
                        <input class="col-sm-1" type="checkbox" data-bind="checkedValue: Id, checked:$parent.SelectedItems">
                        <span data-bind="text:Name"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:associateItems">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>